<div class="wrapper">
  <div class="row">
    <div class="col-md-8">
      <%= link_to "Ask a New Question", new_question_path, class: 'btn btn-default' %>
      <div>
        <h3>My Answered Questions</h3>
        <% if @answered_questions.blank? %>
        <small>You don't have any answers yet.</small>
        <% end %>
        <%= render @answered_questions %>
      </div>
      <div>
        <h3>My Unanswered Questions</h3>
        <% if @unanswered_questions.blank? %>
        <small>You don't have any unanswered questions.</small>
        <% end %>
        <%= render @unanswered_questions %>
      </div>
      <div>
        <h3>Questions I Answered</h3>
        <% if @questions_i_answered.blank? %>
        <small>You haven't answered any questions yet</small>
        <% end %>
        <%= render @questions_i_answered %>
      </div>
      <div>
        <h3>My Answers Voted Up</h3>
        <% if @answers_voted_up.blank? %>
        <small>You haven't had any questions voted up yet</small>
        <% end %>
        <% @answers_voted_up.each do |answer| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
            <p><%= answer.body %></p>
            </h4>
            <small>
            <%= link_to "View question", answer.question %>
            </small>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
