<div class="row">
  <div class="col-md-8">
      <h3>My Unanswered Questions</h3>
      <% @questions.each do |question| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
      <p><%= question.language ? link_to(question.body, [question.language, question]) : question.body %></p>
            </h4>
            <small>
               submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %> <br/>
               <%= question.answers.count %> Answers
             </small>
           </div>
         </div>
      <% end %>
       </div>
       <br/>
       <br/>
     <div class="col-md-4">
      <%= link_to "Ask a New Question", new_question_path, class: 'btn btn-success' %>
  </div>
 </div>

 <div class="row">
  <div class="col-md-8">
      <h3>My Answered Questions</h3>
      <% @questions.each do |question| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
      <p><%= question.language ? link_to(question.body, [question.language, question]) : question.body %></p>
            </h4>
            <small>
               submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %> <br/>
               <%= question.answers.count %> Answers
             </small>
           </div>
         </div>
      <% end %>
       </div>
 </div>

<div class="row">
  <div class="col-md-8">
      <h3>Questions I Answered</h3>
      <% @questions.each do |question| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
      <p><%= question.language ? link_to(question.body, [question.language, question]) : question.body %></p>
            </h4>
            <small>
               submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %> <br/>
               <%= question.answers.count %> Answers
             </small>
           </div>
         </div>
      <% end %>
       </div>
 </div>

 <div class="row">
  <div class="col-md-8">
      <h3>My Answers Voted Up</h3>
      <% @questions.each do |question| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
      <p><%= question.language ? link_to(question.body, [question.language, question]) : question.body %></p>
            </h4>
            <small>
               submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %> <br/>
               <%= question.answers.count %> Answers
             </small>
           </div>
         </div>
      <% end %>
       </div>
 </div>
