<div class="row">
  <div class="col-md-8">
      <h3>My Unanswered Questions</h3>
      <%= render @unanswered_questions %>
       </div>
       <br/>
       <br/>
     <div class="col-md-4">
      <%= link_to "Ask a New Question", new_question_path, class: 'btn btn-success' %>
  </div>
 </div>

 <div class="row">
  <div class="col-md-8">
      <h3>My Answered Questions</h3>
      <%= render @answered_questions %>
       </div>
 </div>

<div class="row">
  <div class="col-md-8">
      <h3>Questions I Answered</h3>
      <%= render @questions_i_answered %>
       </div>
 </div>

 <div class="row">
  <div class="col-md-8">
      <h3>My Answers Voted Up</h3>
      <% if @answers_voted_up.blank? %>
        <p>You haven't had any questions voted up yet</p>
      <% end %>
      <% @answers_voted_up.each do |answer| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
      <p><%= answer.body %></p>
            </h4>
            <small>
               <%= link_to "View question", answer.question %>
             </small>
           </div>
         </div>
      <% end %>
       </div>
 </div>
