<div class="wrapper">
  <% if @question.errors.any? %>
  <div class="alert alert-danger">
    <h4>Please fix <%= pluralize(@question.errors.count, "error") %>.</h4>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h1>New Question</h1>
  <div class="row">
    <div class="col-md-4">
      <p>Question Guidelines</p>
      <ul>
        <li>160 character limit per question.</li>
        <li>Use your keyboard to make character symbols.</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= form_for [@language, @question] do |f| %>
      <div class="form-group">
        <br>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter question here" %>
        <% unless @language %>
        <label>Select a language to ask a question</label>
        <%= select_tag "language_id", options_from_collection_for_select(Language.all, "id", "name") %>
        <% end %>
        <label>or add a new language:</label>
        <span id="new"><%= link_to "New Language", new_language_path %><span>
        </div>
        <div class="form-group">
          <%= f.submit "Submit Question", class: 'btn btn-success' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>