<div class="wrapper">
  <h3>Question</h3>
  <div class="row">
    <div class="col-md-8">
      <p><%= @question.body %></p>
      <small>
      <%= image_tag(@question.user.avatar.tiny.url) if @question.user.avatar? %>
      submitted <%= time_ago_in_words(@question.created_at) %> ago by
      <%= @question.user.name %>
      </small>
      <div><% if policy(@question).edit? %>
        <%= link_to "Edit Question", edit_language_question_path(@language, @question), class: 'btn btn-success' %>
      <% end %></div>
    </div>
    <div class="col-md-4">
      <%#= link_to "Answer", new_language_question_answer_path(@language, @question), class: 'btn btn-success' %>
    </div>
  </div>
  <br/>
  <h3>Answers</h3>
  <% if @question.answers.blank? %>
        <small>No one has answered yet.</small>
        <% end %>

  <% @question.answers.each do |answer| %>
  <!--   <%= render partial: 'votes/voter', locals: { answer: @answer } %>
  <div>
    <h3>
    <%= pluralize(@answer.points, 'point') %>
    </h3>
    <small>
    <%= pluralize(@answer.up_votes, 'up vote') %>
    <%= pluralize(@answer.down_votes, 'down vote') %>
    </small>
  </div>  -->
  <%= simple_format answer.body %>
  <small>
  <%= image_tag(answer.user.avatar.tiny.url) if answer.user.avatar? %>
  submitted <%= time_ago_in_words(answer.created_at) %> ago by
  <%= answer.user.name %>
  </small>
  <% end %>
  <br/>
  <% if policy(Answer.new).create? %>
  <h4 class="add-answer">Add an Answer</h4>
  <%= render "answers/form" %>
  <% end %>
</div>