
<h1>Questions about <%= @language.name %></h1>

<div>
<% if policy(@language).create? %>
  <%= link_to "Ask a New Question", new_question_path, class: 'btn btn-success' %>
<% end %>
</div>
<br/>
<div class="row">
  <div class="col-md-8">
    <% @questions.each do |question| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to question.body, [@language, question] %>
          </h4>
          <small>
         submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %> <br/>
         <%= question.answers.count %> Answers
       </small>
        </div>
      </div>
    <% end %>
  </div>
 

<!--  <h1>About Language</h1>
<div>
<% if policy(@language).update? %>
  <%= link_to "Edit Language", edit_language_path, class: 'btn btn-success' %>
<% end %>
</div>
<br/>
<div class="row">
  <div class="col-md-8">
    <% @questions.each do |question| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to question.body, question %>
          </h4>
        </div>
      </div>
    <% end %>
  </div> -->